services:
  neo4j:
    image: neo4j:5
    container_name: sia-neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/please_change_me
      - NEO4J_PLUGINS=["apoc"]
    volumes:
      - ./data/neo4j:/data
      - ./data/neo4j-logs:/logs
